*{
    font-family: 'Raleway', sans-serif;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instructions{
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    left: 250px;
    width: 500px;
    height: 200px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    z-index: 1;
}

.text-command{
    position: absolute;
    font-size: 22px;
    top: 10px;
    left: 20px;
    z-index: 1;
}

.jump-text-1{
    position: absolute;
    font-size: 20px;
    top: 50px;
    left: 60px;
    z-index: 1;
}

.jump-text-2{
    position: absolute;
    font-size: 18px;
    top: 50px;
    left: 170px;
    z-index: 1;
}

.crouch-text-1{
    position: absolute;
    font-size: 18px;
    top: 140px;
    left: 45px;
    z-index: 1;
}

.crouch-text-2{
    position: absolute;
    font-size: 18px;
    top: 140px;
    left: 160px;
    z-index: 1;
}

.spacebar-text{
    position: absolute;
    font-size: 18px;
    top: 50px;
    right: 65px;
    z-index: 1;
}

.keys{
    padding-top: 20px;
    width: 60%;
    scale: 0.7;
}

.spacebar{
    width: 40%;
    height: 50%;
    scale: 0.6;
}

.start{
    position: absolute;
    top: 80px;
    left: 40px;
    padding: 10px 20px;
    font-size: 22px;

    background-color: #fff;
    border: none;
    
}

.start:hover{
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.restart{
    display: none;
    position: relative;
    bottom: 60px;
    padding: 10px 40px;
    font-size: 22px;

    background-color: #fff;
    border: none;
    animation: restart 1.8s;

    z-index: 1;
}

.restart:hover{
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.game-board{
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid #008000;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.score{
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 48px;
    font-variant-numeric: lining-nums;
    z-index: 1;
}

.game-over-container{
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-over{
    display: none;
    position: relative;
    width: 250px;
    bottom: 20px;
    animation: gameover 1.8s;
    z-index: 1;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
}

.pipe-level-1{
    animation: pipe-animation 3s infinite linear;
}

.pipe-level-2{
    animation: pipe-animation-2 2.8s infinite linear;
}

.pipe-level-3{
    animation: pipe-animation-3 2.5s infinite linear;
}

.pipe-level-4{
    animation: pipe-animation-4 2s infinite linear;
}

.pipe-level-5{
    animation: pipe-animation-5 1.7s infinite linear;
}

.bullet-level-1{
    animation: bullet-animation-1 2.8s infinite linear 800ms;
}

.bullet-level-2{
    animation: bullet-animation-2 2.5s infinite linear 800ms;
}

.bullet-level-3{
    animation: bullet-animation-3 2s infinite linear 800ms;
}

.bullet-level-4{
    animation: bullet-animation-4 1.7s infinite linear 600ms;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump{
    animation: jump 600ms ease-out;
}

.mario-crouch{
    width: 80px;
    margin-left: 20px;
}

.clouds{
    position: absolute;
    top: 20px;
    width: 500px;
    animation: clouds-animation 20s infinite linear;
}

.clouds-faster{
    animation: clouds-animation 10s infinite linear;
}

.bullet{
    position: absolute;
    bottom: 65px;
    right: -50px;
    width: 45px;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes pipe-animation-2 {
    from{
        right: -100px;
    }

    to{
        right: 100%;
    }
}

@keyframes pipe-animation-3 {
    from{
        right: -120px;
    }

    to{
        right: 100%;
    }
}

@keyframes pipe-animation-4 {
    from{
        right: -140px;
    }

    to{
        right: 100%;
    }
}

@keyframes pipe-animation-5{
    from{
        right: -140px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
   0%{
    bottom: 0;
   }

   38% {
    bottom: 175px;
   }

   50%{
    bottom: 180px;
   }

   62%{
    bottom: 175px;
   }

   100%{
    bottom: 0;
   }
}

@keyframes clouds-animation {
    from{
        right: -500px;
    }

    to{
        right: 100%;
    }
}

@keyframes bullet-animation-1 {
    from{
        right: -50px;
    }

    to{
        right: 100%;
    }
}

@keyframes bullet-animation-2 {
    from{
        right: -50px;
    }

    to{
        right: 100%;
    }
}

@keyframes bullet-animation-3 {
    from{
        right: -50px;
    }

    to{
        right: 100%;
    }
}

@keyframes bullet-animation-4{
    from{
        right: -50px;
    }

    to{
        right: 100%;
    }
}

@keyframes gameover {
    from{
        bottom: -400px;
    }

    to{
        bottom: 20px;
    }
}

@keyframes restart {
    from{
        bottom: -400px;
    }

    to{
        bottom: 60px;
    }
}